Label:not(.lblFixe){
	-fx-font-size : 16px;
}
Label{
	-fx-font-size : 16px
}
GridPane{
	-fx-background-color : #E8F9FD
}
VBox{
	-fx-background-color : #E8F9FD
}
DialogPane{
	-fx-background-color : #E8F9FD
}
Button{
	-fx-background-color : #99CCFF
}
Button:hover{
	-fx-background-color : #48cae4
}