Label:not(.lblFixe){
	-fx-font-size : 16px;
}
Label{
	-fx-font-size : 16px
}
GridPane{
	-fx-background-color : #c9aac6
}
VBox{
	-fx-background-color : #c9aac6
}
DialogPane{
	-fx-background-color : #c9aac6
}
Button{
	-fx-background-color : #856396
}
Button:hover{
	-fx-background-color : #DACEE6
}